@import "variable.module.scss";


.node-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100px;
  width: 150px;
  line-height: 100px;
  text-align: center;
  border: 0 solid var(--el-border-color-dark);
  border-radius: 0px;
  background: url('@/assets/images/b1.png') no-repeat center/contain;
  background-size: 150px 100px;
  white-space: nowrap;
  box-shadow: 2px 2px 5px #ddd;


  &.active {
    outline: 1px dashed $primary-color;
    outline-offset: 3px;
    box-shadow:0 5px 9px 0 rgba(0, 0, 0, 0.5);
}

  &.disabled{
    border-color: var(--el-disabled-border-color);
    background: var(--el-disabled-bg-color);
    box-shadow: none;
  }

  .node-anchor{
    opacity: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: crosshair;
    background: -webkit-radial-gradient(sandybrown 10%, white 30%, #9a54ff 60%);
    transform: translate(-50%, -50%);
    &__top{
      top: 0;
      left: 50%;
    }
    &__right{
      top: 50%;
      left: 100%;
    }
    &__bottom{
      top: 100%;
      left: 50%;
    }
    &__left{
      left: 0;
      top: 50%
    }
  }

  // TODO 改成scss
  &[status=success] {
    border-color: $success-color
  }

  &[status=error] {
    border-color: $error-color
  }

  &[status=info] {
    border-color: $info-color
  }

  &[status=warning] {
    border-color: $warning-color;

  }

}

.anchor-item > label{
  background-color: $common-node-bg;
  color: var(--el-text-color);
  border-radius: 7px;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  padding: 2px;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.6);
}

.node-icon{
  width: 60%;
  height: 60%;
  pointer-events: none;
}
.node-setting{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  display: flex;
  visibility: hidden;
  &:hover{
    color: $primary-color;
  }
}
.node-notification {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
}
.node-tools{
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  justify-content: center;
  display: flex;
  opacity: 0;
  & > i {
    cursor: pointer;
    margin: 0 5px;
  }
}
.node-description {
  position: absolute;
  top: 10px;
  left: 0;
  line-height: 1;
  cursor: default;
  padding: 0 8px;
  width: 90%;
  text-align: left;
  pointer-events: none; // prevent container from being draggable

  .node-name > p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    overflow-wrap: anywhere;
    font-weight: var(--el-link-font-weight);
    line-height: var(--el-font-line-height-primary);
    margin: 0;
  }
}

.flow-area__container.readOnly .node-box{
  .node-tools{
    display: none;
  }
}
.flow-area__container:not(.readOnly) .node-box{
  &:hover,&.active{
    .node-tools{
      opacity: 1;
      pointer-events: auto;
    }
    .node-anchor{
      opacity: 1;
    }
  }
  &:not(.disabled):hover {
    z-index: 2;
    .node-setting{
      visibility: visible;
    }
    .node-anchor{
      opacity: 1;
    }
  }
}


