@import "variable.module.scss";


.node-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border: 2px solid var(--el-border-color-dark);
  border-radius: 5px;
  background-color: $common-node-bg;
  white-space: nowrap;
  box-shadow: 2px 2px 5px #ddd;


  &.active {
    outline: 4px solid $common-node-active;
    outline-offset: 0;
  }

  &.trigger {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }

  &.disabled{
    border-color: var(--el-disabled-border-color);
    background: var(--el-disabled-bg-color);
    box-shadow: none;
  }

  // TODO 改成scss
  &[status=success] {
    border-color: $success-color
  }

  &[status=error] {
    border-color: $error-color
  }

  &[status=info] {
    border-color: $info-color
  }

  &[status=warning] {
    border-color: $warning-color;

  }



  &.isStart {
  }

  &.isEnd {
  }
}

.anchor-item > label{
  background-color: $common-node-bg;
  color: var(--el-text-color);
  border-radius: 7px;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  padding: 2px;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.6);
}

.node-icon{
  width: 60%;
  height: 60%;
  pointer-events: none;
}
.node-setting{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  display: flex;
  visibility: hidden;
  &:hover{
    color: $primary-color;
  }
}
.node-notification {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  display: flex;
}
.node-tools{
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  justify-content: center;
  display: flex;
  opacity: 0;
  & > i {
    cursor: pointer;
    margin: 0 5px;
  }
}
.node-description {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.5;
  text-align: center;
  cursor: default;
  padding: 8px;
  width: 100px;
  pointer-events: none; // prevent container from being draggable

  .node-name > p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    overflow-wrap: anywhere;
    font-weight: var(--el-link-font-weight);
    line-height: var(--el-font-line-height-primary);
    margin: 0;
  }
}

.flow-area__container.readOnly .node-box{
  .node-tools{
    display: none;
  }
}
.flow-area__container:not(.readOnly) .node-box{
  &:hover{
    .node-tools{
      opacity: 1;
      pointer-events: auto;
    }
  }
  &:not(.disabled):hover {
    background-color: $common-node-bg-hover;
    z-index: 2;
    .node-setting{
      visibility: visible;
    }
  }
}


