@import "variable.module.scss";


.node-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 5px;
  background-color: transparent;
  white-space: nowrap;
  box-sizing: border-box;
  &.active {
    outline: 2px solid $common-node-active;
    outline-offset: 4px;
  }

  &.trigger {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }

  &.disabled{
    border-color: var(--el-disabled-border-color);
    background: var(--el-disabled-bg-color);
    box-shadow: none;
  }

  .node-anchor{
    opacity: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: crosshair;
    background: -webkit-radial-gradient(sandybrown 10%, white 30%, #9a54ff 60%);
    transform: translate(-50%, -50%);
    &__top{
      top: 0;
      left: 50%;
    }
    &__right{
      top: 50%;
      left: 100%;
    }
    &__bottom{
      top: 100%;
      left: 50%;
    }
    &__left{
      left: 0;
      top: 50%
    }
  }

  // TODO 改成scss
  &[status=success] {
    border-color: $success-color
  }

  &[status=error] {
    border-color: $error-color
  }

  &[status=info] {
    border-color: $info-color
  }

  &[status=warning] {
    border-color: $warning-color;

  }



  &.isStart {
  }

  &.isEnd {
  }
}

.anchor-item > label{
  background-color: $common-node-bg;
  color: var(--el-text-color);
  border-radius: 7px;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  padding: 2px;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.6);
}

.node-icon{
  width: 60%;
  height: 60%;
  pointer-events: none;
}
.node-setting{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  display: flex;
  visibility: hidden;
  &:hover{
    color: $primary-color;
  }
}
.node-notification {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  display: flex;
}
.node-tools{
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  justify-content: center;
  display: flex;
  opacity: 0;
  & > i {
    cursor: pointer;
    margin: 0 5px;
  }
}
.node-description {
  position: absolute;
  top: calc(100% + 7px);
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: default;
  width: 100px;
  pointer-events: none; // prevent container from being draggable

  .node-name {
    display: flex;
    justify-content: center;
  }

  .node-name > p {
    overflow-wrap: anywhere;
    white-space: normal;
    word-break: break-all;
    font-weight: var(--el-link-font-weight);
    line-height: 1;
    margin: 0;
  }
}

.flow-area__container.readOnly .node-box{
  .node-tools{
    display: none;
  }
}
.flow-area__container:not(.readOnly) .node-box{
  &:hover,&.active{
    .node-tools{
      opacity: 1;
      pointer-events: auto;
    }
    &>.node-anchor{
      opacity: 1;
    }
  }
  &:not(.disabled):hover {
    z-index: 2;
    .node-setting{
      visibility: visible;
    }
    &>.node-anchor{
      opacity: 1;
    }
  }
}
.dot-endpoint{
  cursor: crosshair;
  //transform: translate(-50%, -50%);
  & > *:hover{
    fill: $primary-color;
  }
}


